<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="PHP_CodeSniffer">
    <description>The coding standard.</description>

    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>src/Kernel.php</exclude-pattern>
    <exclude-pattern>src/Migrations/</exclude-pattern>

    <!-- Do not print warnings -->
    <arg value="n"/>

    <rule ref="PSR2"/>
</ruleset>
